.block {
  font-family: Helvetica;
  max-width:100%;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color:#f0f4fd;
  padding-left:10%;
  padding-right:10%;
  margin-left:auto;
  margin-right:auto;
  .container {
    width: 90%;
    margin: 0px auto;
    min-height: 150px;

    h1 {
      font-size: 40px;
      text-align: center;
      img {
        height: 100px;
      }
      #stationsHeader {
        height: 140px;
      }
    }
    #left-image {
      max-width:200px;
      max-height: 150px;
      width: auto;
      height: auto;
      float:left;
      padding-right:50px;
    }
    .description {
      padding-top: 10px;
      min-height: 120px;
      line-height:1.5;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:20px;
    }
  }
  .centered-image {
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
  }
}

#block-apple {
    background-color:#fff;
}

#block-stations {
  background-color:#9575CD;
  color: #E5E5E5;
}


#block-up {
  color: #f0f4fd;
  background-color: #3983CA;

  video {
    width:550px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
    border:3px solid #96B8DE;
  }
  #up-link {
    text-decoration: none;
    display:block;
    margin:10px;
    background-color:#96B8DE;
    padding:10px 15px;
    border-radius:15px;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    width:80px;
    text-align: center;
    transition:all .1s;

  }
  #up-link:hover {
    //background-color: #6E87A3;
    transform:scale(1.05);
    transition:all .2s;
  }
}

#block-5 {
  padding-left:10%;
  padding-right:10%;
  background-color:#f0f4fd;
  margin-left:auto;
  margin-right:auto;
  h1 {
    text-align: center;
  }
  #mit {
    width:200px;
    float:left;
    padding-right:30px;
  }
  .description {
    margin-top:45px;
    line-height:1.5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
  }
  #eds {
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
    border:3px solid #96B8DE;
  }
}
