.block {
  max-width:100%;
  min-height:470px;
  padding:30px 30px 40px 30px;

}

#block-2 {
  background-color:#9575CD;
  color: #E5E5E5;
  padding-left:10%;
  padding-right:10%;
  margin-top:70px;
  margin-left:auto;
  margin-right:auto;
  h1 img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 150px;
    font-family: "Clear Sans", Clear Sans, Clear-Sans, "Open Sans", Helvetica, sans-serif;
  }
  #nasdaq {
    padding:20px;
    width:200px;
    float:left;
    padding-right:30px;
  }
  .description {
    margin-top:25px;
    line-height:1.5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
  }
  #go {
    height: 100px;
  }
}

#block-3, #block-1 {

  background-color:#f0f4fd;
  padding-left:10%;
  padding-right:10%;
  margin-top:70px;
  margin-left:auto;
  margin-right:auto;
  h1 {
    text-align: center;
    font-family: "Clear Sans", Clear Sans, Clear-Sans, "Open Sans", Helvetica, sans-serif;

  }
  #nasdaq {
    padding:20px;
    width:200px;
    float:left;
    padding-right:30px;
  }
  .description {
    margin-top:45px;
    line-height:1.5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
  }
  #drupal {
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
  }
}

#block-4 {
  color: #f0f4fd;
  background-color: #3983CA;
  padding-left:10%;
  padding-right:10%;
  margin-left:auto;
  margin-right:auto;
  h1 {
    text-align: center;
    font-family: "Clear Sans", Clear Sans, Clear-Sans, "Open Sans", Helvetica, sans-serif;

  }
  img {
    width:200px;
    float:left;
    padding-right:30px;
  }
  .description {
    margin-top:45px;
    line-height:1.5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
  }
  video {
    width:550px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
    border:3px solid #96B8DE;
  }
  #up-link {
    text-decoration: none;
    display:block;
    margin:10px;
    background-color:#96B8DE;
    padding:10px 15px;
    border-radius:15px;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    width:80px;
    text-align: center;
    transition:all .1s;

  }
  #up-link:hover {
    //background-color: #6E87A3;
    transform:scale(1.05);
    transition:all .2s;
  }
}

#block-5 {
  padding-left:10%;
  padding-right:10%;
  background-color:#f0f4fd;
  margin-left:auto;
  margin-right:auto;
  h1 {
    text-align: center;
    font-family: "Clear Sans", Clear Sans, Clear-Sans, "Open Sans", Helvetica, sans-serif;

  }
  #mit {
    width:200px;
    float:left;
    padding-right:30px;
  }
  .description {
    margin-top:45px;
    line-height:1.5;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
  }
  #eds {
    width:400px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:6px;
    border:3px solid #96B8DE;
  }
}
